<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <style>
        h4 {
            background-color: rgb(100,50,100);
            padding: 20px;
            color: white;
        }
        .title {
            padding: 0px 20px;
            margin-top: 50px;
        }

        .title h5 {
            margin-bottom: -10px;
        }

    </style>
</head>
<body>
    <h4>Entity Relationship Diagram Generator</h4>
    

    <div class="title">
        <h5>Database Information</h5>
        <hr>
    </div>
    <div>
        <div class="input-group mb-3" style="padding: 5px 20px;">
            <select class="form-select form-select-sm" style="padding: 5px 20px;">
                <option selected>DBMS</option>
                <option value="1">Oracle</option>
                <option value="2">MSSQL</option>
                <option value="3">MariaDB</option>
            </select>
        </div>
        
        <div class="input-group mb-3" style="padding: 5px 20px;">
            <span class="input-group-text" id="basic-addon1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IP</span>
            <input type="text" class="form-control" placeholder="Database IP" aria-label="Database IP" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3" style="padding: 5px 20px;">
            <span class="input-group-text" id="basic-addon1">Instance</span>
            <input type="text" class="form-control" placeholder="Database Instance" aria-label="Database Instance" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3" style="padding: 5px 20px;">
            <span class="input-group-text" id="basic-addon1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID</span>
            <input type="text" class="form-control" placeholder="User ID" aria-label="User ID" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3" style="padding: 5px 20px;">
            <span class="input-group-text" id="basic-addon1">Password</span>
            <input type="text" class="form-control" placeholder="User Password" aria-label="User Password" aria-describedby="basic-addon1">
          </div>
    </div>

    <div class="title">
        <h5>SQL</h5>
        <hr>
    </div>
    <div style="text-align: right; padding: 20px;margin-top: -80px;">
        <button id="btnAdd" type="button" class="btn btn-primary">Add</button>
    </div>

    <div id="divSql"> 
        <template id="tmpSql">
            <div class="form-floating" style="margin: 10px;">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">SQL</label>
            </div>
        </template>
        
    </div>

    <div class="title">
        <h5>Result</h5>
        <hr>
    </div>
    <div style="display: flex;flex-wrap: wrap;">
        <div class="card" style="margin: 5px;">
            <div class="card-header">
              User
            </div>
            <div class="card-body">
                <p class="card-text">PK : ID</p>
                <p class="card-text">FK : TeamID</p>
                <p class="card-text">Name,Email.Phone</p>
            </div>
          </div>
          <div class="card" style="margin: 5px;">
            <div class="card-header">
              Team
            </div>
            <div class="card-body">
                <p class="card-text">PK : ID</p>
                <p class="card-text">FK : Leader</p>
                <p class="card-text">Name,Location,Parent</p>
            </div>
          </div>
    </div>

    <div style="text-align: center;">
        <button id="btnGen" type="button" class="btn btn-success">Generate</button>
    </div>

    <script src="index.js"></script>
</body>
</html>